# MONGO_URI=mongodb://localhost:27017/spotify

# JWT_SECRET=your_jwt_secret

# JWT_REFRESH_SECRET=your_jwt_refresh_secret

# IMAGEKIT_PRIVATE_KEY=your_imagekit_private_key

# EMAIL_USER=your_email_address

# EMAIL_APP_PASSWORD=your_email_app_password

# PASSWORD_PEPPER=your_password_pepper